Podschitayka/Counter/bin/*
Podschitayka/Counter/obj/*
Podschitayka/CounterUnitTest/Counter/Counter/bin/*
Podschitayka/CounterUnitTest/Counter/Counter/obj/*
Podschitayka/CounterUnitTest/Counter/UnitTest/bin/*
Podschitayka/CounterUnitTest/Counter/UnitTest/obj/*